MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=xpress_code

API_V1_PREFIX=/api/v1

CORS_ORIGINS=http://localhost:8081,http://127.0.0.1:8081,http://localhost:5173,http://127.0.0.1:5173,http://localhost:19006

JWT_SECRET=troque-este-valor-por-um-segredo-forte
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60

META_GRAPH_API_VERSION=v21.0
META_PHONE_NUMBER_ID=
META_ACCESS_TOKEN=
META_APP_SECRET=
META_WEBHOOK_VERIFY_TOKEN=troque-este-valor-por-um-segredo-forte

BREVO_API_KEY=
BREVO_SENDER_EMAIL=no-reply@xpress.local
BREVO_SENDER_NAME=Barbearia Xpress Code

INFINITEPAY_HANDLE=
INFINITEPAY_REDIRECT_URL=
PUBLIC_API_URL=http://localhost:8000/api/v1
